.table {
  background-color: white;
  font-size: 12;
  justify-items: center;
  align-items: center;
  border: "1";
}

.far {
  //編輯icon (fa-edit btn)
  margin-top: -8px;
  margin-left: -15px;
}

.form-check {
  //加點扣點radio
  margin-bottom: 3%;
  margin-left: -4%;
}
